<!DOCTYPE html>
<html>
  <head>
    <title>New Message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Send a New Message</h1>
    <div class="messages">
      <form method="POST" action="/new">
        <input type="text" name="messageUser" placeholder="Username" required>
        <input type="text" name="messageText" placeholder="Your Message" required>
        <button type="submit"> Submit</button>
     </form>
    </div>
  </body>
</html>
